@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Pretendard', sans-serif;
  word-break: keep-all;
}

body {
  background-color: var(--background);
}

:root {
  --primary: #33cfff;
  --secondary: #b9ddf1;
  --accent: #0099CC;
  
  --background: #F8F8F8;
  --background-secondary: #e0e9ed;

  --text: #333333;
  --text-secondary: #666666;

  --border: #CCCCCC; /* 밝은 테마의 기본 테두리 색상 */
}

.dark {
  --primary: #33cfff;
  --secondary: #03537f;
  --accent: #66A2B7;
  
  --background: #121212;
  --background-secondary: #1E3A47;

  --text: #E5E5E5;
  --text-secondary: #B0B0B0;

  --border: #666666; /* 다크 테마의 기본 테두리 색상 */
}

.text-primary {
  color: var(--primary);
}
