@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #33cfff;
  --secondary-color: #F3F9FC;
  --accent-color: #0099CC;
  --background-color: #F8F8F8;
  --text-color: #333333;
  --text-secondary-color: #666666;
  --border-color: #CCCCCC; /* 밝은 테마의 기본 테두리 색상 */
}

.dark {
  --primary-color: #33cfff;
  --secondary-color: #1E3A47;
  --accent-color: #66A2B7;
  --background-color: #121212;
  --text-color: #E5E5E5;
  --text-secondary-color: #B0B0B0;
  --border-color: #666666; /* 다크 테마의 기본 테두리 색상 */
}

.bg-main {
  background-color: var(--background-color);
}
.bg-sub{
  background-color: var(--secondary-color);
}
.bg-accent {
  background-color: var(--accent-color);
}

.button-bg-gray {
  &:hover {
    background-color: var(--border-color);
  }
}

.text-main {
  color: var(--text-color);
}
.text-primary {
  color: var(--primary-color);
}
.text-sub {
  color: var(--text-secondary-color);
}
.text-accent {
  color: var(--accent-color);
}

.border-main {
  color: var(--border-color);
}

.h-content {
  height: calc(100vh - 64px);
}

.hyperlink {
  color: var(--accent-color);
  text-decoration: underline;
  &:hover {
    color: var(--primary-color);
    font-weight: 700;
  }
}

@layer base {
  @media (min-width: 640px) {
    section > :not(h2) {
      margin-left: 8px;
    }
    h2{
      font-weight: 700;
    }
  }
}
